In [ ]:
SELECT
Nome_UF,
COUNT(Codigo_da_Escola) AS Contagem_Escolas
FROM GOLD.educacao_rend_escolas_joined
WHERE Localizacao_Diferenciada = 2
GROUP BY Nome_UF
ORDER BY Contagem_Escolas DESC